/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  background-color: #efefef;
}

.wrapper {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* HEADER */

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  width: 100%;
}

.nav__list_page {
  padding: 18px 0;
}

.nav__link,
.nav__link:visited {
  text-decoration: none;
  text-align: center;
  color: #333;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: #66c05d;
}

.logo-section {
  background-color: #fff;
}

.logo-and-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.logo__title {
  color: #66c05d;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.contacts__number {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
  font-size: 16px;
}

.contacts__number:hover {
  color: #66c05d;
}

.contacts__button {
  font-size: 14px;
  border-radius: 200px;
  background-color: transparent;
  border: 2px solid #66c05d;
  padding: 10px 25px;
  transition: all 0.3s;
}

.contacts__button:hover {
  color: #fff;
  background-color: #66c05d;
  cursor: pointer;
}

.separation-line {
  border: none;
  height: 1px;
}

.nav_servicies {
  background-color: #fff;
}

.nav__list_servicies {
  font-size: 16px;
  padding: 30px 0;
}

/* SECTION BANNER */

.banner {
  position: relative;
  background-color: #66c05d;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
  color: #fff;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.banner__title {
  font-size: 48px;
  font-weight: 700;
}

.banner__text {
  max-width: 315px;
  line-height: 1.5;
}

.banner__button {
  padding: 9px 47px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 200px;
  transition: all 0.3s;
  cursor: pointer;
}

.banner__button:hover,
.banner__button:active {
  color: #333;
  background-color: #fff;
}
